<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MAVEN TESTING">
	<test name="Testing some cases">
		<classes>
			<class name="com.google.search.SearchTest">
				<methods>
					<include name="searchEmaratech" />
					<include name="searchBharath" />
				</methods>
			</class>
		</classes>
	</test>
</suite>